<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="someUrl"/>
    <add key="jsonProviderType" value="Measurement.Providers.JsonProviders.XmlJsonProvider"/>
    <add key="xmlJsonProviderFilePath" value="Resources\Xmls\jsonXml.xml"/>
    <add key="dimentionResFilePath" value="Resources\Txts\dimension.txt"/>
  </appSettings>
</configuration>